name: flutter_system_proxy
description: A Flutter Plugin to detect System proxy. When using HTTP client that are not proxy aware this plugin can help with finding the proxy from system settings which then can be used with HTTP Client to make a successful request.
version: 0.1.2
homepage: https://github.com/BrowserStackCE/flutter_system_proxy.git

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.browserstack.fluttersystemproxy.flutter_system_proxy
        pluginClass: FlutterSystemProxyPlugin
      ios:
        pluginClass: FlutterSystemProxyPlugin
